
<br>


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Parameters</mat-card-title>
      <mat-card-subtitle>See how to create parameters</mat-card-subtitle>
    </mat-card-header>
    <iframe width="300" height="200" src="https://www.youtube.com/embed/jPqO_1u3dmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
      <p>
        Also see how the regex pattern for 'AllowedPattern' doesn't need backslash characters escaped. Escape characters will be automatically added by CloudKast.
      </p>
    </mat-card-content>
  </mat-card>  


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Parameters</mat-card-title>
    <mat-card-subtitle>See how to create parameters</mat-card-subtitle>
  </mat-card-header>
  <iframe width="300" height="200" src="https://www.youtube.com/embed/jPqO_1u3dmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <mat-card-content>
    <p>
      Also see how the regex pattern for 'AllowedPattern' doesn't need backslash characters escaped. Escape characters will be automatically added by CloudKast.
    </p>
  </mat-card-content>
</mat-card>


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Mappings</mat-card-title>
    <mat-card-subtitle>See how to create Mappings.</mat-card-subtitle>
  </mat-card-header>
  <iframe width="300" height="200" src="https://www.youtube.com/embed/6gvqy8gPc7A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <mat-card-content>
    <p>
      Creating Mapping is a dreadful task, but with CloudKast it's not dreadful anymore.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Conditions</mat-card-title>
      <mat-card-subtitle>See how to create Conditions.</mat-card-subtitle>
    </mat-card-header>
    <iframe width="300" height="200" src="https://www.youtube.com/embed/T2udV-Q5q3U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
      <p>
        Also see how to make use of 'Intrinsic Functions' widget to create function values. Functions
        e.g. Fn::GetAttrs, Ref get autopopulated with Parameters and Resources already defined.
      </p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Simple Resources</mat-card-title>
      <mat-card-subtitle>resources with primitive properties.</mat-card-subtitle>
    </mat-card-header>
    <iframe width="300" height="200" src="https://www.youtube.com/embed/KbiyZ9irzeY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
      <p>
        Here's an example of how to create a simple AWS resource (one that doesn't have properties that are custom objects.). Make a note how required, optional and conditional properties are highlighted different using info icons.
      </p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Complex Resources</mat-card-title>
      <mat-card-subtitle>resources with custom properties.</mat-card-subtitle>
    </mat-card-header>
    <iframe width="300" height="200" src="https://www.youtube.com/embed/vVnW9tkdPOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
      <p>
        See how to make use of 'Property Dealer' widget to create properties that are custom objects. Make a note of how a property of type array delimits items using semicolon.
      </p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Validate</mat-card-title>
      <mat-card-subtitle>Validate template</mat-card-subtitle>
    </mat-card-header>
    <iframe width="300" height="200" src="https://www.youtube.com/embed/cKJrx3k-TW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
      <p>
        A secure way of validating your template using AWS account credentials. Template is uploaded 
        with authenticated-read access to a bucket enabled for CORS.
      </p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Import</mat-card-title>
      <mat-card-subtitle>Import an existing template</mat-card-subtitle>
    </mat-card-header>
    <iframe width="300" height="200" src="https://www.youtube.com/embed/on5fWt3ALEM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
      <p>
        See how to import an existing template for editing (removal, addition, modification) of sections
        and resources and how to save the updated template.
      </p>
    </mat-card-content>
</mat-card>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Functions</mat-card-title>
      <mat-card-subtitle>How to create functions</mat-card-subtitle>
    </mat-card-header>
    <iframe width="300" height="200" src="https://www.youtube.com/embed/eh-ntqUT1k0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
      <p>
        See how to create intrinsic functions e.g. how to create UserData property of 
        an EC2 instance.
      </p>
    </mat-card-content>
</mat-card>


