
<div *ngIf="isPresent" >
    <mat-card  class="example-card" >Parameters
      <form #myForm="ngForm" (submit)="onDone(myForm.value)">
        <input name="resourceName" placeholder="Resource Name" ngModel> <br>
        <div *ngFor="let j of resPropkeys">
          <input ngModel type="text" [name]="j" [placeholder]="j" [matTooltip]="resProp[j]" >
        </div>
        <button type="submit" mat-stroked-button>Done</button>
        <button mat-raised-button (click)="onRemove(myForm.value)">Remove</button>
      </form>
    </mat-card>
</div>
<mat-divider></mat-divider>