
<div *ngIf="isPresent" >
    <mat-accordion>
        <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Parameters
            </mat-panel-title>
            <mat-panel-description>
                {{paramname.value}}
            </mat-panel-description>
        </mat-expansion-panel-header>    
    <mat-card  class="example-card" >Parameter
      <form #myForm="ngForm" (submit)="onDone(myForm.value)">
        <input name="resourceName" #paramname placeholder="Parameter Name" ngModel required> <br>
        <input name="Type" placeholder="Type" ngModel list="paramtypes" >
        <datalist id="paramtypes" label="Parameter Types" > 
          <option *ngFor="let i of paramTypes" [value]="i"> {{i}} </option>
        </datalist>
        <!-- <input name="AllowedPattern" placeholder="Allowed Pattern" ngModel pattern='[\\A-Z0-9]*'> <br> -->
        <div *ngFor="let j of resPropkeys">
          <input ngModel type="text" [name]="j" [placeholder]="j" [matTooltip]="resProp[j]" >
          <mat-icon *ngIf="j=='AllowedPattern'" color="warn"  [matTooltip]="regexTooltip" >info</mat-icon>
        </div>
        <button [disabled]="myForm.invalid" type="submit" mat-icon-button>
          <mat-icon>done</mat-icon>
        </button>
        <button  mat-icon-button type="button" (click)="onRemove(myForm.value)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </form>
      <button [disabled]="!isCopyReady" mat-icon-button 
        matTooltip="copy the json output of the parameters" 
        (click)="copyToClipboard(myForm.value)"> 
        <mat-icon>file_copy</mat-icon> 
      </button>
    </mat-card>
  </mat-expansion-panel>
  </mat-accordion>
</div>

