<mat-drawer-container class="example-container"  autosize >
  <button mat-raised-button color="primary" (click)="addParam()">Add Condition</button>
  <button mat-button color="primary" (click)="drawer.toggle()" 
  matTooltip="Open intrinsic functions side panel">Intrinsic Functions</button>
  <div *ngFor="let i of tagArray">
    <app-conditions></app-conditions>
  </div>
  <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
    <app-intrinsic-functions class="example-card" ></app-intrinsic-functions>
  </mat-drawer>

</mat-drawer-container>

<!-- <mat-accordion>
  <mat-expansion-panel class="example-card" >
    <mat-expansion-panel-header>
      <mat-panel-title>Intrinsic Functions</mat-panel-title>
      <mat-panel-description>Use Function manager to generate a function for the conditions.</mat-panel-description>
    </mat-expansion-panel-header>
    <app-intrinsic-functions class="example-card" ></app-intrinsic-functions>
  </mat-expansion-panel>
</mat-accordion> -->
