
    <div *ngIf="isPresent" >
        <mat-accordion>
            <mat-expansion-panel color="accent">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Mapping
                </mat-panel-title>
                <mat-panel-description>
                    {{mapname.value}}
                </mat-panel-description>
            </mat-expansion-panel-header>
        <mat-card  class="example-card">Mapping
          <form #myForm="ngForm" (submit)="onDone(myForm.value)">
            <input name="resourceName" #mapname placeholder="Mapping Name" ngModel required > <br>
            <button type="button" mat-stroked-button (click)="addKeying()" >Add keys</button>
            <mat-divider></mat-divider>
            <div *ngFor="let i of keyArray" >
                <input type="text" name="key{{i}}" placeholder="Key" matTooltip="Key identifier" 
                 style="margin-left: 20px" ngModel> <br>
                <button type="button" mat-stroked-button (click)="addValue()" 
                style="margin-left:20px" > Add Values </button> 
                <div *ngFor="let j of valueArray">
                    <input type="text" name="name{{i}}{{j}}" placeholder="KeyName" ngModel 
                    style="margin-left: 40px" matTooltip="key in String" >
                    <input type="text" name="value{{i}}{{j}}" placeholder="KeyValue" matTooltip="
                    value in String or List. For a list, provide comma separated values" ngModel> <br>
                </div>
                <mat-divider></mat-divider>
            </div>
            <button  [disabled]="myForm.invalid" type="submit" mat-icon-button> 
              <mat-icon>done</mat-icon> 
            </button>
            <button mat-icon-button (click)="onRemove(myForm.value)">
              <mat-icon>remove_circle</mat-icon>
            </button>
          </form>
          <button [disabled]="!isCopyReady" mat-icon-button 
            matTooltip="copy the json output of the mapping" 
            (click)="copyToClipboard(myForm.value)"> 
            <mat-icon>file_copy</mat-icon> 
          </button>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
    </div>

