<p mat-body-strong>
  Creating AWS cloudformation templates just got easier!! Cloudferry is a 
  web-based <b>'jsonfree'</b>  (no need to write any cumbersome json) and
  <b>insightful</b>  (property description and valid values available for 
  each property of each resource or section in a cloudformation template so that you don't have to get
  lost in cloudformation documentation) AWS cloudformation editor (more like an IDE caterred to AWS 
  cloudformation)  <b>for busy developers</b>  (creating a working template is way much quicker now whether you 
  are a junior developer or an architect. Now you can focus more on architecting your environment).
</p>
<p mat-body >
  Parsing JSON- or YAML-formatted text files to see the resources that are in your template and their relationships can be difficult.
  When you author template resources in a text editor, you must manually edit JSON or YAML, which can be tedious and error-prone.
  By using Cloudferry, you spend less time manually coding your templates and more time designing your AWS infrastructure.
</p>

<h3 mat-caption>info icons guidelines</h3>
<mat-icon>info</mat-icon>  Optional Property
<mat-icon color="warn" >info</mat-icon> Required Property
<mat-icon color="accent" >info</mat-icon> Conditionally Required Property

<br>
<mat-list role="list">
  <h3 mat-caption>Features not supported</h3>
  <li>Custom Resources</li>
  <li>Metadata Section</li>
  <li>Transform Section</li>
  <li>configset under AWS::CloudFormation::Init for EC2</li>
  <li>AllowedPattern in Parameters</li>
</mat-list>


<p mat-small>
  This tool is a property of Krunal Shimpi. Please report any bugs and defects or requests for enhancements to krunal4amity@gmail.com. 
</p>