<mat-toolbar color="primary" >
  <mat-toolbar-row>
    <span>CloudKast</span>
    <span class="example-spacer"></span>
    <a style="color:white"  href="mailto:cloudkasting@gmail.com"> <mat-icon>email</mat-icon> </a>  
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group color="primary" animationDuration="0ms">
  <mat-tab label="Create"> 
      <mat-tab-group color="accent" animationDuration="0ms" >
          <mat-tab label="Version & Desc"> 
            <app-metadata></app-metadata>
          </mat-tab>
          <mat-tab label="Parameters">
            <app-parameters-tab></app-parameters-tab>
          </mat-tab>
          <mat-tab label="Mappings"> 
            <app-mappings-tab></app-mappings-tab>
          </mat-tab>
          <mat-tab label="Conditions"> 
            <app-conditions-tab></app-conditions-tab>
          </mat-tab>
          <mat-tab label="Transform & Metadata"> 
              <app-ec2-init></app-ec2-init>
          </mat-tab>
          <mat-tab label="Resources"> 
              <app-resource-view></app-resource-view>
          </mat-tab>
          <mat-tab label="Outputs"> 
              <app-outputs-tab></app-outputs-tab>
          </mat-tab>
          <!-- <mat-tab label="AWS::Cloudformation::Init" >
            <app-ec2-init></app-ec2-init>
          </mat-tab> -->
      </mat-tab-group>
  </mat-tab>
  <mat-tab label="Property Dealer">
    <app-object-help></app-object-help>
  </mat-tab>
  <mat-tab label="Result"> 
    <app-result></app-result>
  </mat-tab>
  <mat-tab label="Import">
    <app-import-template></app-import-template>
  </mat-tab>
  <mat-tab label="About">
    <app-about-page></app-about-page>
  </mat-tab>
  <mat-tab label="How to">
    <app-how-to></app-how-to>
  </mat-tab>
</mat-tab-group>