<mat-tab-group>
  <mat-tab label="Create"> 
      <mat-tab-group>
          <mat-tab label="Metadata"> 
            <app-metadata></app-metadata>
          </mat-tab>
          <mat-tab label="Parameters">
            <app-parameters-tab></app-parameters-tab>
          </mat-tab>
          <mat-tab label="Mappings"> 
            Content 3 
          </mat-tab>
          <mat-tab label="Conditions"> 
              Content 3 
          </mat-tab>
          <mat-tab label="Transform"> 
              Content 3 
          </mat-tab>
          <mat-tab label="Resources"> 
              <app-resource-view></app-resource-view>
          </mat-tab>
          <mat-tab label="Outputs"> 
              Content 3 
          </mat-tab>
      </mat-tab-group>
  </mat-tab>
  <mat-tab label="Intrinsic Functions">
    <app-intrinsic-functions></app-intrinsic-functions>
  </mat-tab>
  <mat-tab label="Object help"> 
    <app-object-help></app-object-help>
  </mat-tab>
  <mat-tab label="Result"> 
    <app-result></app-result>
  </mat-tab>
</mat-tab-group>