
<div *ngIf="isPresent">
    <mat-accordion>
    <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Condition
        </mat-panel-title>
        <mat-panel-description>
            {{conname.value}}
        </mat-panel-description>
    </mat-expansion-panel-header>
        <mat-card class="example-card">Condition
            <form action="" #conform="ngForm" (submit)="onDone(conform.value)">
                <!-- <input type="hidden" ngModel name="index" [ngModel]="i" ><br> -->
                <input type="text" #conname name="resourceName" placeholder="Logical ID" ngModel
                matTooltip="Logical ID of the condition, a String value" required > <br>
                <input type="text" name="func" placeholder="Intrinsic Function" ngModel
                matTooltip="Use any of these functions = Fn::And, Fn::Equals, Fn::If, 
                Fn::Not, Fn::Or" required ><br>
                <button mat-icon-button type="submit" [disabled]="conform.invalid">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-icon-button type="button" (click)="onRemove(conform.value)">
                    <mat-icon>remove_circle</mat-icon>
                </button>
              </form>
              <button [disabled]="!isCopyReady" mat-icon-button 
                matTooltip="copy json" 
                (click)="copyToClipboard(conform.value)"> 
                <mat-icon>file_copy</mat-icon> 
              </button>
              <button [disabled]="!isCopyReady" mat-icon-button color="accent"
                matTooltip="copy yaml" 
                (click)="copyToYamlClipboard(conform.value)"> 
                <mat-icon>file_copy</mat-icon> 
              </button>
        </mat-card>
    </mat-expansion-panel>
    </mat-accordion>
</div>
