<div *ngIf="isPresent">
  <mat-card  class="example-card" >{{serviceSyntax}}
    <form #myForm="ngForm" (submit)="onDone(myForm.value)">
      <input matInput name="resourceName" placeholder="Resource Name" ngModel> <br>
      <div *ngFor="let j of resPropkeys">
        <input ngModel type="text" matInput [name]="j" [placeholder]="j" [matTooltip]="resProp[j]" >
      </div>
      Tags:
      <button mat-button (click)="addTag()">Add Tag</button><br>
      <div *ngFor="let i of tagArray" >
          <input matInput name="tagKey{{i}}" placeholder="Key" ngModel>
          <input matInput name="tagValue{{i}}" placeholder="Value" ngModel>
      </div>

      <input type="submit" value="Done">
      <button mat-button (click)="onRemove(myForm.value)">Remove</button>
    </form>
  </mat-card>
</div>
<mat-divider></mat-divider>
<!-- <div *ngIf="isPresent">
    <mat-card  class="example-card" >AWS::EC2::Volume
      <form #myForm="ngForm" (submit)="onDone(myForm.value)">
        <input matInput name="resourceName" placeholder="Resource Name" ngModel> <br>
        <div *ngFor="let j of resPropkeys">
          <input ngModel type="text" matInput [name]="j" [placeholder]="j" [matTooltip]="resProp[j]" >
        </div>
        Tags:
        <button mat-button (click)="addTag()">Add Tag</button><br>
        <div *ngFor="let i of tagArray" >
            <input matInput name="tagKey{{i}}" placeholder="Key" ngModel>
            <input matInput name="tagValue{{i}}" placeholder="Value" ngModel>
        </div>
  
        <input type="submit" value="Done">
        <button mat-button (click)="onRemove(myForm.value)">Remove</button>
      </form>
    </mat-card>
  </div>
  <mat-divider></mat-divider> -->
