<div *ngIf="isPresent" >
    <mat-card> AWS::Route53::HealthCheck
        <form action="" #r53HC="ngForm" (submit)="onDone(r53HC.value)">
            <input matInput name="resourceName" placeholder="Resource Name" ngModel> <br>
            HealthCheckConfig*: <br>
            <input matInput name="type" placeholder="Type*" ngModel
            matTooltip="The type of health check that you want to create. This indicates how Route 53 
            determines whether an endpoint is healthy. You can specify HTTP, HTTPS, HTTP_STR_MATCH, 
            HTTPS_STR_MATCH, TCP, CLOUDWATCH_METRIC, or CALCULATED.">
            <input matInput name="IpAddress" placeholder="IP Address" ngModel 
            matTooltip="The IPv4 IP address of the endpoint on which you want Route 53 to 
            perform health checks. If you don't specify an IP address, Route 53 sends a DNS 
            request to resolve the domain name that you specify in the FullyQualifiedDomainName property.">
            <input matInput name="alarmIdName" placeholder="Alarm Id Name" ngModel
            matTooltip="Identifies the CloudWatch alarm that you want Route 53 health checkers to use to 
            determine whether this health check is healthy.">
            <input matInput name="alarmIdRegion" placeholder="Alarm Id Region" ngModel>            
            <input matInput name="childHealthCheck" placeholder="array of strings" ngModel
            matTooltip="(CALCULATED Health Checks Only) A complex type that contains one ChildHealthCheck 
            element for each health check that you want to associate with a CALCULATED health check.
            Required: No
            Type: List of String values">                        
            <input matInput name="port" placeholder="Port*" ngModel 
            matTooltip="Required: Conditional. Required when you specify TCP for the Type property.">
            <input matInput type="text" name="enableSNI" placeholder="Enable SNI" ngModel
            matTooltip="Specifies whether you want Route 53 to send the value of FullyQualifiedDomainName to 
            the endpoint in the client_hello message during TLS negotiation. This allows the endpoint to 
            respond to HTTPS health check requests with the applicable SSL/TLS certificate. Required:no.
            Type=boolean" >
            <input type="text" ngModel matInput name="Regions" placeholder="Regions">
            <input type="text" ngModel matInput name="HealthThreshold" placeholder="HealthThreshold">
            <input type="text" ngModel matInput name="MeastureLatency" placeholder="Measure Latency" matTooltip="Boolean">
            <input type="text" ngModel matInput name="Inverted" placeholder="Inverted" matTooltip="Boolean">
            <input type="text" ngModel matInput name="InsuffiecientDataHealthStatus" placeholder="InsuffiecientDataHealthStatus"
            matTooltip="Healthy, Unhealthy, or LastKnownStatus">
            <input matInput name="ResourcePath" placeholder="Resource Path e.g. /index.html" ngModel>
            <input matInput name="fqdn" placeholder="FQDN*" ngModel
            matTooltip="If you specified the IPAddress property, the value that you want Route 53 to pass 
            in the host header in all health checks except for TCP health checks. If you don't specify an 
            IP address, the domain that Route 53 sends a DNS request to. Route 53 uses the IP address that 
            the DNS returns to check the health of the endpoint.">
            <input matInput name="RequestInterval" placeholder="Request Inteval" ngModel>                                                            
            <input matInput name="failureThreshold" placeholder="Failure Threshold" ngModel> 
            <input matInput name="SearchString" placeholder="Search String" ngModel
            matTooltip="If the value of the Type property is HTTP_STR_MATCH or HTTPS_STR_MATCH, 
            the string that you want Route 53 to search for in the response body from the specified 
            resource. If the string appears in the response body, Route 53 considers the resource 
            healthy. Required: No         
            Type: String"> <br>



            HealthCheckTags:
            <button mat-button (click)="addTag()">Add Tag</button>
            <div *ngFor="let i of tagArray" >
                <input matInput name="tagKey{{i}}" placeholder="Key" ngModel>
                <input matInput name="tagValue{{i}}" placeholder="Value" ngModel>
            </div>

            <input *ngIf="!isSaved" type="submit" value="Done">
            <input *ngIf="isSaved" type="submit" value="Done" disabled >            
            <button mat-button (click)="onRemove(r53HC.value)">Remove</button>
        </form>

    </mat-card>
</div>
<mat-divider></mat-divider>


