<div >
<mat-drawer-container class="example-container" autosize >
      <mat-drawer #function class="example-sidenav" mode="side" position="end" >
            <mat-icon color="primary"  matTooltip="Two identical function widgets are provided so that one function's output can be used in another function easily. E.g. output of Fn::Join to be used in Fn::Base64 to generate UserData property for AWS::EC2::Instance. Use the scroller at the bottom to scroll to the right to preview lengthy function outputs." >
                  info
            </mat-icon>
            <app-intrinsic-functions></app-intrinsic-functions><br>
            <app-intrinsic-functions></app-intrinsic-functions>
      </mat-drawer>
    <mat-drawer #drawer class="example-sidenav-res" mode="side" opened >
          <button type="button" mat-button color="primary" (click)="function.toggle()"
          matTooltip="click to open intrinsic functions side panel. click again to close">
                Intrinsic Functions
          </button>
          <mat-divider></mat-divider>
          <mat-select *ngFor="let service of resourcelist" [placeholder]="service.servicename">
              <mat-option *ngFor="let resource of service.subresource">
                
                <button mat-raised-button (click)="serviceAddition(resource)">
                  <span [matBadge]="resource.resourcecount" matBadgeOverlap="false">{{resource.resourcename}}</span>  
                </button>
              </mat-option>
          </mat-select>
        <mat-divider></mat-divider>
    </mat-drawer>  
     <button *ngIf="!drawer.opened" type="button" color="accent" mat-button (click)="drawer.toggle()" >show resource panel</button>
     <div>
      <div *ngFor="let i of ec2_instance">
            <app-common-resource [myresource]="awsresource.ec2_instance" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_volume">
        <app-common-resource [myresource]="awsresource.ec2_volume" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_eip">
            <app-common-resource [myresource]="awsresource.ec2_eip" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_securitygroup">
            <app-common-resource [myresource]="awsresource.ec2_securitygroup" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_customergateway" >
            <app-common-resource [myresource]="awsresource.ec2_customergateway" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_dhcpoptions">
            <app-common-resource [myresource]="awsresource.ec2_dhcpoptions" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_egressonlyinternetgateway" >
            <app-common-resource [myresource]="awsresource.ec2_egressonlyinternetgateway" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_ec2fleet">
            <app-common-resource [myresource]="awsresource.ec2_ec2fleet" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_eipassociation">
            <app-common-resource [myresource]="awsresource.ec2_eipassociation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_flowlog">
            <app-common-resource [myresource]="awsresource.ec2_flowlog" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_host" >
            <app-common-resource [myresource]="awsresource.ec2_host" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_internetgateway" >
            <app-common-resource [myresource]="awsresource.ec2_internetgateway" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_launchtemplate" >
            <app-common-resource [myresource]="awsresource.ec2_launchtemplate" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_natgateway">
            <app-common-resource [myresource]="awsresource.ec2_natgateway" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_networkacl" >
            <app-common-resource [myresource]="awsresource.ec2_networkacl" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_networkaclentry" >
            <app-common-resource [myresource]="awsresource.ec2_networkaclentry" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_networkinterface" >
            <app-common-resource [myresource]="awsresource.ec2_networkinterface" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_networkinterfaceattachment" >
            <app-common-resource [myresource]="awsresource.ec2_networkinterfaceattachment" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_networkinterfacepermission" >
            <app-common-resource [myresource]="awsresource.ec2_networkinterfacepermission" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_placementgroup" >
            <app-common-resource [myresource]="awsresource.ec2_placementgroup" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_route" >
            <app-common-resource [myresource]="awsresource.ec2_route" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_routetable" >
            <app-common-resource [myresource]="awsresource.ec2_routetable" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_securitygroupegress" >
            <app-common-resource [myresource]="awsresource.ec2_securitygroupegress" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_securitygroupingress" >
            <app-common-resource [myresource]="awsresource.ec2_securitygroupingress" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_spotfleet" >
            <app-common-resource [myresource]="awsresource.ec2_spotfleet" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_subnet" >
            <app-common-resource [myresource]="awsresource.ec2_subnet" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_subnetcidrblock" >
            <app-common-resource [myresource]="awsresource.ec2_subnetcidrblock" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_subnetnetworkaclassociation" >
            <app-common-resource [myresource]="awsresource.ec2_subnetnetworkaclassociation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_subnetroutetableassociation" >
            <app-common-resource [myresource]="awsresource.ec2_subnetroutetableassociation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgateway" >
            <app-common-resource [myresource]="awsresource.ec2_transitgateway" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgatewayattachment ">
            <app-common-resource [myresource]="awsresource.ec2_transitgatewayattachment" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgatewayroute">
            <app-common-resource [myresource]="awsresource.ec2_transitgatewayroute" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgatewayroutetable ">
            <app-common-resource [myresource]="awsresource.ec2_transitgatewayroutetable" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgatewayroutetableassociation" >
            <app-common-resource [myresource]="awsresource.ec2_transitgatewayroutetableassociation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgatewayroutetablepropagation">
            <app-common-resource [myresource]="awsresource.ec2_transitgatewayroutetablepropagation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_volumeattachment">
            <app-common-resource [myresource]="awsresource.ec2_volumeattachment" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpc">
            <app-common-resource [myresource]="awsresource.ec2_vpc" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpccidrblock" >
            <app-common-resource [myresource]="awsresource.ec2_vpccidrblock" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcdhcpoptionsassociation" >
            <app-common-resource [myresource]="awsresource.ec2_vpcdhcpoptionsassociation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcendpoint" >
            <app-common-resource [myresource]="awsresource.ec2_vpcendpoint" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcendpointconnectionnotification">
            <app-common-resource [myresource]="awsresource.ec2_vpcendpointconnectionnotification" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcendpointservice" >
            <app-common-resource [myresource]="awsresource.ec2_vpcendpointservice" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcendpointservicepermissions">  
            <app-common-resource [myresource]="awsresource.ec2_vpcendpointservicepermissions" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcgatewayattachment" >
            <app-common-resource [myresource]="awsresource.ec2_vpcgatewayattachment" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcpeeringconnection" >
            <app-common-resource [myresource]="awsresource.ec2_vpcpeeringconnection" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpnconnection">
            <app-common-resource [myresource]="awsresource.ec2_vpnconnection" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpnconnectionroute">
            <app-common-resource [myresource]="awsresource.ec2_vpnconnectionroute" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpngateway">
            <app-common-resource [myresource]="awsresource.ec2_vpngateway" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpngatewayroutepropagation" >
            <app-common-resource [myresource]="awsresource.ec2_vpngatewayroutepropagation" [isTagged]="false" ></app-common-resource>
      </div>

      <div *ngFor="let i of route53_healthcheck">
            <app-common-resource [myresource]="awsresource.route53_healthcheck" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of route53_hostedzone" >
            <app-common-resource [myresource]="awsresource.route53_hostedzone" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of route53_recordset" >
            <app-common-resource [myresource]="awsresource.route53_recordset" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of route53_recordsetgroup" >
            <app-common-resource [myresource]="awsresource.route53_recordsetgroup" [isTagged]="false" ></app-common-resource>
      </div>      

      <div *ngFor="let i of r53_resolver_resolverendpoint" >
            <app-common-resource [myresource]="awsresource.r53_resolver_resolverendpoint" [isTagged]="true" ></app-common-resource>
      </div>      
      <div *ngFor="let i of r53_resolver_resolverrule" >
            <app-common-resource [myresource]="awsresource.r53_resolver_resolverrule" [isTagged]="true" ></app-common-resource>
      </div>  
      <div *ngFor="let i of r53_resolver_resolverruleassociation" >
            <app-common-resource [myresource]="awsresource.r53_resolver_resolverruleassociation" [isTagged]="false" ></app-common-resource>
      </div>      
      
      
      <div *ngFor="let i of iam_accesskey" >
            <app-common-resource [myresource]="awsresource.iam_accesskey" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_group" >
            <app-common-resource [myresource]="awsresource.iam_group" [isTagged]="false" ></app-common-resource>
      </div>      
      <div *ngFor="let i of iam_instanceprofile" >
            <app-common-resource [myresource]="awsresource.iam_instanceprofile" [isTagged]="false" ></app-common-resource>
      </div>      
      <div *ngFor="let i of iam_managedpolicy" >
            <app-common-resource [myresource]="awsresource.iam_managedpolicy" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_policy" >
            <app-common-resource [myresource]="awsresource.iam_policy" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_role" >
            <app-common-resource [myresource]="awsresource.iam_role" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_servicelinkedrole" >
            <app-common-resource [myresource]="awsresource.iam_servicelinkedrole" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_user" >
            <app-common-resource [myresource]="awsresource.iam_user" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_usertogroupaddition" >
            <app-common-resource [myresource]="awsresource.iam_usertogroupaddition" [isTagged]="false" ></app-common-resource>
      </div>   
      
      <div *ngFor="let i of ag_agGroup" >
            <app-common-resource [myresource]="awsresource.ag_agGroup" [isTagged]="false" ></app-common-resource>
      </div>      
      <div *ngFor="let i of ag_launchConfiguration" >
            <app-common-resource [myresource]="awsresource.ag_launchConfiguration" [isTagged]="false" ></app-common-resource>
      </div>      
      <div *ngFor="let i of ag_lifecyclehook" >
            <app-common-resource [myresource]="awsresource.ag_lifecyclehook" [isTagged]="false" ></app-common-resource>
      </div>      
      <div *ngFor="let i of ag_scalingpolicy" >
            <app-common-resource [myresource]="awsresource.ag_scalingpolicy" [isTagged]="false" ></app-common-resource>
      </div>      
      <div *ngFor="let i of ag_scheduledAction" >
            <app-common-resource [myresource]="awsresource.ag_scheduledAction" [isTagged]="false" ></app-common-resource>
      </div>       
      
      <div *ngFor="let i of elbv2_listener" >
            <app-common-resource [myresource]="awsresource.elbv2_listener" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of elbv2_listenercertificate" >
            <app-common-resource [myresource]="awsresource.elbv2_listenercertificate" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of elbv2_listenerrule" >
            <app-common-resource [myresource]="awsresource.elbv2_listenerrule" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of elbv2_loadbalancer" >
            <app-common-resource [myresource]="awsresource.elbv2_loadbalancer" [isTagged]="true" ></app-common-resource>
      </div>            
      <div *ngFor="let i of elbv2_targetgroup" >
            <app-common-resource [myresource]="awsresource.elbv2_targetgroup" [isTagged]="true" ></app-common-resource>
      </div>            

      <div *ngFor="let i of acm_certificate" >
            <app-common-resource [myresource]="awsresource.acm_certificate" [isTagged]="true" ></app-common-resource>
      </div>            

      <div *ngFor="let i of dynamodb_table" >
            <app-common-resource [myresource]="awsresource.dynamodb_table" [isTagged]="true" ></app-common-resource>
      </div>

      <div *ngFor="let i of sqs_queue" >
            <app-common-resource [myresource]="awsresource.sqs_queue" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of sqs_queuepolicy" >
            <app-common-resource [myresource]="awsresource.sqs_queuepolicy" [isTagged]="false" ></app-common-resource>
      </div>                        

      <div *ngFor="let i of sns_subscription" >
            <app-common-resource [myresource]="awsresource.sns_subscription" [isTagged]="false" ></app-common-resource>
      </div>                        
      <div *ngFor="let i of sns_topic" >
            <app-common-resource [myresource]="awsresource.sns_topic" [isTagged]="false" ></app-common-resource>
      </div>                        
      <div *ngFor="let i of sns_topicpolicy" >
            <app-common-resource [myresource]="awsresource.sns_topicpolicy" [isTagged]="false" ></app-common-resource>
      </div>                        

      <div *ngFor="let i of ecs_cluster" >
            <app-common-resource [myresource]="awsresource.ecs_cluster" [isTagged]="false" ></app-common-resource>
      </div>                        
      <div *ngFor="let i of ecs_service" >
            <app-common-resource [myresource]="awsresource.ecs_service" [isTagged]="false" ></app-common-resource>
      </div>                        
      <div *ngFor="let i of ecs_taskdefinition" >
            <app-common-resource [myresource]="awsresource.ecs_taskdefinition" [isTagged]="false" ></app-common-resource>
      </div>                                    

      <div *ngFor="let i of cloudtrail_trail" >
            <app-common-resource [myresource]="awsresource.cloudtrail_trail" [isTagged]="true" ></app-common-resource>
      </div>

      <div *ngFor="let i of cw_alarm" >
            <app-common-resource [myresource]="awsresource.cw_alarm" [isTagged]="false" ></app-common-resource>
      </div>                                    
      <div *ngFor="let i of cw_dashboard" >
            <app-common-resource [myresource]="awsresource.cw_dashboard" [isTagged]="false" ></app-common-resource>
      </div>                                    

      <div *ngFor="let i of cwlogs_destination" >
            <app-common-resource [myresource]="awsresource.cwlogs_destination" [isTagged]="false" ></app-common-resource>
      </div>                                    
      <div *ngFor="let i of cwlogs_loggroup" >
            <app-common-resource [myresource]="awsresource.cwlogs_loggroup" [isTagged]="false" ></app-common-resource>
      </div>                                    
      <div *ngFor="let i of cwlogs_logstream" >
            <app-common-resource [myresource]="awsresource.cwlogs_logstream" [isTagged]="false" ></app-common-resource>
      </div>                                    
      <div *ngFor="let i of cwlogs_metricfilter" >
            <app-common-resource [myresource]="awsresource.cwlogs_metricfilter" [isTagged]="false" ></app-common-resource>
      </div>                                    
      <div *ngFor="let i of cwlogs_subscriptionfilter" >
            <app-common-resource [myresource]="awsresource.cwlogs_subscriptionfilter" [isTagged]="false" ></app-common-resource>
      </div>                                    

      <div *ngFor="let i of cwevents_eventbuspolicy" >
            <app-common-resource [myresource]="awsresource.cwevents_eventbuspolicy" [isTagged]="false" ></app-common-resource>
      </div>                                    
      <div *ngFor="let i of cwevents_rule" >
            <app-common-resource [myresource]="awsresource.cwevents_rule" [isTagged]="false" ></app-common-resource>
      </div>                                          

      <div *ngFor="let i of eks_cluster" >
            <app-common-resource [myresource]="awsresource.eks_cluster" [isTagged]="false" ></app-common-resource>
      </div>                                          

      <div *ngFor="let i of efs_filesystem" >
            <app-common-resource [myresource]="awsresource.efs_filesystem" [isTagged]="false" ></app-common-resource>
      </div>                                          
      <div *ngFor="let i of efs_mounttarget" >
            <app-common-resource [myresource]="awsresource.efs_mounttarget" [isTagged]="false" ></app-common-resource>
      </div>                                          

      <div *ngFor="let i of s3_bucket" >
            <app-common-resource [myresource]="awsresource.s3_bucket" [isTagged]="true" ></app-common-resource>
      </div>                                          
      <div *ngFor="let i of s3_bucketpolicy" >
            <app-common-resource [myresource]="awsresource.s3_bucketpolicy" [isTagged]="false" ></app-common-resource>
      </div>                                          

      <div *ngFor="let i of ecr_repository" >
            <app-common-resource [myresource]="awsresource.ecr_repository" [isTagged]="false" ></app-common-resource>
      </div>                                          

      <div *ngFor="let i of cfn_customresource" >
            <app-common-resource [myresource]="awsresource.cfn_customresource" [isTagged]="false" ></app-common-resource>
      </div>                                          
      <div *ngFor="let i of cfn_macro" >
            <app-common-resource [myresource]="awsresource.cfn_macro" [isTagged]="false" ></app-common-resource>
      </div>                                          
      <div *ngFor="let i of cfn_stack" >
            <app-common-resource [myresource]="awsresource.cfn_stack" [isTagged]="true" ></app-common-resource>
      </div>                                          
      <div *ngFor="let i of cfn_waitcondition" >
            <app-common-resource [myresource]="awsresource.cfn_waitcondition" [isTagged]="false" ></app-common-resource>
      </div>                                          
      <div *ngFor="let i of cfn_waitconditionhandle" >
            <app-common-resource [myresource]="awsresource.cfn_waitconditionhandle" [isTagged]="false" ></app-common-resource>
      </div>                           
      
      <div *ngFor="let i of lambda_alias" >
            <app-common-resource [myresource]="awsresource.lambda_alias" [isTagged]="false" ></app-common-resource>
      </div>                                          
      <div *ngFor="let i of lambda_eventsourcemapping" >
            <app-common-resource [myresource]="awsresource.lambda_eventsourcemapping" [isTagged]="false" ></app-common-resource>
      </div>                                          
      <div *ngFor="let i of lambda_function" >
            <app-common-resource [myresource]="awsresource.lambda_function" [isTagged]="true" ></app-common-resource>
      </div>                                          
      <div *ngFor="let i of lambda_layerversion" >
            <app-common-resource [myresource]="awsresource.lambda_layerversion" [isTagged]="false" ></app-common-resource>
      </div>                                          
      <div *ngFor="let i of lambda_layerversionpermission" >
            <app-common-resource [myresource]="awsresource.lambda_layerversionpermission" [isTagged]="false" ></app-common-resource>
      </div>                           
      <div *ngFor="let i of lambda_permission" >
            <app-common-resource [myresource]="awsresource.lambda_permission" [isTagged]="false" ></app-common-resource>
      </div>                                          
      <div *ngFor="let i of lambda_version" >
            <app-common-resource [myresource]="awsresource.lambda_version" [isTagged]="false" ></app-common-resource>
      </div>                           

      <div *ngFor="let i of ram_resourceshare" >
            <app-common-resource [myresource]="awsresource.ram_resourceshare" [isTagged]="true" ></app-common-resource>
      </div>                                         

      <div *ngFor="let i of sm_resourcepolicy" >
            <app-common-resource [myresource]="awsresource.sm_resourcepolicy" [isTagged]="false" ></app-common-resource>
      </div>                           
      <div *ngFor="let i of sm_rotationschedule" >
            <app-common-resource [myresource]="awsresource.sm_rotationschedule" [isTagged]="false" ></app-common-resource>
      </div>                           
      <div *ngFor="let i of sm_secret" >
            <app-common-resource [myresource]="awsresource.sm_secret" [isTagged]="true" ></app-common-resource>
      </div>                           
      <div *ngFor="let i of sm_secrettargetattachment" >
            <app-common-resource [myresource]="awsresource.sm_secrettargetattachment" [isTagged]="false" ></app-common-resource>
      </div>                           

      <div *ngFor="let i of cb_project" >
            <app-common-resource [myresource]="awsresource.cb_project" [isTagged]="true" ></app-common-resource>
      </div>                           
      <div *ngFor="let i of cb_sourcecredential" >
            <app-common-resource [myresource]="awsresource.cb_sourcecredential" [isTagged]="false" ></app-common-resource>
      </div>                           

      <div *ngFor="let i of msk_cluster" >
            <app-common-resource [myresource]="awsresource.msk_cluster" [isTagged]="true" ></app-common-resource>
      </div>                           

    </div>
</mat-drawer-container>
</div>
<!-- <div style="float:left" >
    <app-object-help></app-object-help>
</div> -->
<!-- <div style="float:left">
      <app-intrinsic-functions></app-intrinsic-functions>
</div>
<div style="float:left">
      <app-intrinsic-functions></app-intrinsic-functions>
</div> -->