.example-container {
    width: 720px;
    height: 1400px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  
  .main-container{
    display: inline-block;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: left;
    justify-content: left;
  }
  
  .example-sidenav {
    padding: 20px;
    width:250px
  }

  .property-dealer{
    display:inline-block;

  }