<div style="float: left">
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
          <mat-select *ngFor="let service of resourcelist" [placeholder]="service.servicename">
              <mat-option *ngFor="let resource of service.subresource">
                
                <button mat-raised-button  [matBadge]="resource.resourcecount" (click)="serviceAddition(resource)">
                    {{resource.resourcename}}
                </button>
              </mat-option>
          </mat-select>
        <mat-divider></mat-divider>
    </mat-drawer>  
    <div>
      <div *ngFor="let i of ec2_instance">
            <app-common-resource [myresource]="awsresource.ec2_instance" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_volume">
        <app-common-resource [myresource]="awsresource.ec2_volume" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_eip">
            <app-common-resource [myresource]="awsresource.ec2_eip" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_securitygroup">
            <app-common-resource [myresource]="awsresource.ec2_securitygroup" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_customergateway" >
            <app-common-resource [myresource]="awsresource.ec2_customergateway" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_dhcpoptions">
            <app-common-resource [myresource]="awsresource.ec2_dhcpoptions" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_egressonlyinternetgateway" >
            <app-common-resource [myresource]="awsresource.ec2_egressonlyinternetgateway" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_ec2fleet">
            <app-common-resource [myresource]="awsresource.ec2_ec2fleet" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_eipassociation">
            <app-common-resource [myresource]="awsresource.ec2_eipassociation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_flowlog">
            <app-common-resource [myresource]="awsresource.ec2_flowlog" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_host" >
            <app-common-resource [myresource]="awsresource.ec2_host" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_internetgateway" >
            <app-common-resource [myresource]="awsresource.ec2_internetgateway" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_launchtemplate" >
            <app-common-resource [myresource]="awsresource.ec2_launchtemplate" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_natgateway">
            <app-common-resource [myresource]="awsresource.ec2_natgateway" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_networkacl" >
            <app-common-resource [myresource]="awsresource.ec2_networkacl" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_networkaclentry" >
            <app-common-resource [myresource]="awsresource.ec2_networkaclentry" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_networkinterface" >
            <app-common-resource [myresource]="awsresource.ec2_networkinterface" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_networkinterfaceattachment" >
            <app-common-resource [myresource]="awsresource.ec2_networkinterfaceattachment" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_networkinterfacepermission" >
            <app-common-resource [myresource]="awsresource.ec2_networkinterfacepermission" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_placementgroup" >
            <app-common-resource [myresource]="awsresource.ec2_placementgroup" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_route" >
            <app-common-resource [myresource]="awsresource.ec2_route" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_routetable" >
            <app-common-resource [myresource]="awsresource.ec2_routetable" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_securitygroupegress" >
            <app-common-resource [myresource]="awsresource.ec2_securitygroupegress" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_securitygroupingress" >
            <app-common-resource [myresource]="awsresource.ec2_securitygroupingress" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_spotfleet" >
            <app-common-resource [myresource]="awsresource.ec2_spotfleet" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_subnet" >
            <app-common-resource [myresource]="awsresource.ec2_subnet" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_subnetcidrblock" >
            <app-common-resource [myresource]="awsresource.ec2_subnetcidrblock" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_subnetnetworkaclassociation" >
            <app-common-resource [myresource]="awsresource.ec2_subnetnetworkaclassociation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_subnetroutetableassociation" >
            <app-common-resource [myresource]="awsresource.ec2_subnetroutetableassociation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgateway" >
            <app-common-resource [myresource]="awsresource.ec2_transitgateway" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgatewayattachment ">
            <app-common-resource [myresource]="awsresource.ec2_transitgatewayattachment" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgatewayroute">
            <app-common-resource [myresource]="awsresource.ec2_transitgatewayroute" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgatewayroutetable ">
            <app-common-resource [myresource]="awsresource.ec2_transitgatewayroutetable" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgatewayroutetableassociation" >
            <app-common-resource [myresource]="awsresource.ec2_transitgatewayroutetableassociation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_transitgatewayroutetablepropagation">
            <app-common-resource [myresource]="awsresource.ec2_transitgatewayroutetablepropagation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_volumeattachment">
            <app-common-resource [myresource]="awsresource.ec2_volumeattachment" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpc">
            <app-common-resource [myresource]="awsresource.ec2_vpc" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpccidrblock" >
            <app-common-resource [myresource]="awsresource.ec2_vpccidrblock" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcdhcpoptionsassociation" >
            <app-common-resource [myresource]="awsresource.ec2_vpcdhcpoptionsassociation" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcendpoint" >
            <app-common-resource [myresource]="awsresource.ec2_vpcendpoint" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcendpointconnectionnotification">
            <app-common-resource [myresource]="awsresource.ec2_vpcendpointconnectionnotification" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcendpointservice" >
            <app-common-resource [myresource]="awsresource.ec2_vpcendpointservice" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcendpointservicepermissions">  
            <app-common-resource [myresource]="awsresource.ec2_vpcendpointservicepermissions" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcgatewayattachment" >
            <app-common-resource [myresource]="awsresource.ec2_vpcgatewayattachment" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpcpeeringconnection" >
            <app-common-resource [myresource]="awsresource.ec2_vpcpeeringconnection" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpnconnection">
            <app-common-resource [myresource]="awsresource.ec2_vpnconnection" [isTagged]="true" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpnconnectionroute">
            <app-common-resource [myresource]="awsresource.ec2_vpnconnectionroute" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpngateway">
            <app-common-resource [myresource]="awsresource.ec2_vpngateway" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of ec2_vpngatewayroutepropagation" >
            <app-common-resource [myresource]="awsresource.ec2_vpngatewayroutepropagation" [isTagged]="false" ></app-common-resource>
      </div>

      <div *ngFor="let i of route53_healthcheck">
            <app-common-resource [myresource]="awsresource.route53_healthcheck" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of route53_hostedzone" >
            <app-common-resource [myresource]="awsresource.route53_hostedzone" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of route53_recordset" >
            <app-common-resource [myresource]="awsresource.route53_recordset" [isTagged]="false" ></app-common-resource>
      </div>
      <div *ngFor="let i of route53_recordsetgroup" >
            <app-common-resource [myresource]="awsresource.route53_recordsetgroup" [isTagged]="false" ></app-common-resource>
      </div>      

      <div *ngFor="let i of r53_resolver_resolverendpoint" >
            <app-common-resource [myresource]="awsresource.r53_resolver_resolverendpoint" [isTagged]="true" ></app-common-resource>
      </div>      
      <div *ngFor="let i of r53_resolver_resolverrule" >
            <app-common-resource [myresource]="awsresource.r53_resolver_resolverrule" [isTagged]="true" ></app-common-resource>
      </div>  
      <div *ngFor="let i of r53_resolver_resolverruleassociation" >
            <app-common-resource [myresource]="awsresource.r53_resolver_resolverruleassociation" [isTagged]="false" ></app-common-resource>
      </div>      
      
      <div *ngFor="let i of iam_accesskey" >
            <app-common-resource [myresource]="awsresource.iam_accesskey" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_group" >
            <app-common-resource [myresource]="awsresource.iam_group" [isTagged]="false" ></app-common-resource>
      </div>      
      <div *ngFor="let i of iam_instanceprofile" >
            <app-common-resource [myresource]="awsresource.iam_instanceprofile" [isTagged]="false" ></app-common-resource>
      </div>      
      <div *ngFor="let i of iam_managedpolicy" >
            <app-common-resource [myresource]="awsresource.iam_managedpolicy" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_policy" >
            <app-common-resource [myresource]="awsresource.iam_policy" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_role" >
            <app-common-resource [myresource]="awsresource.iam_role" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_servicelinkedrole" >
            <app-common-resource [myresource]="awsresource.iam_servicelinkedrole" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_user" >
            <app-common-resource [myresource]="awsresource.iam_user" [isTagged]="false" ></app-common-resource>
      </div>            
      <div *ngFor="let i of iam_usertogroupaddition" >
            <app-common-resource [myresource]="awsresource.iam_usertogroupaddition" [isTagged]="false" ></app-common-resource>
      </div>            
    </div>
</mat-drawer-container>
</div>
<div style="float:left" >
    <app-object-help></app-object-help>
</div>
<div style="float:left">
    <app-intrinsic-functions></app-intrinsic-functions>
</div>