<mat-card> Function Manager
<form #funcform="ngForm" id="funcform" (submit)="doFunc(funcform.value)" >
    <input list="functions" name="funcname" placeholder="Pick a function" #funcname ngModel> <br>
    <datalist id="functions" label="functions" >
        <option value="Ref"></option>
        <option value="Fn::Base64"></option>
        <option value="Fn::Cidr"></option>
        <option value="Fn::FindInMap"></option>
        <option value="Fn::GetAtt"></option>
        <option value="Fn::GetAZs"></option>
        <option value="Fn::ImportValue"></option>
        <option value="Fn::Join"></option>
        <option value="Fn::Select"></option>
        <option value="Fn::Split"></option>
        <option value="Fn::Sub"></option>
        <option value="Fn::And"></option>
        <option value="Fn::Equals"></option>
        <option value="Fn::If"></option>
        <option value="Fn::Not"></option>
        <option value="Fn::Or"></option>
    </datalist>

    <div *ngIf="funcname.value=='Ref'" >
      <select name="refvalue" form="funcform" ngModel #refvalue>
        <optgroup label="values available">
          <option  *ngFor="let i of retReflist()" [value]="i">{{i}} </option>
        </optgroup>
      </select>
    </div>

    <div *ngIf="funcname.value=='Fn::Base64'">
      <input type="text" ngModel name="b64value" placeholder="Enter String"> 
    </div>

    <div *ngIf="funcname.value=='Fn::Cidr'">
      <input type="text" ngModel name="ipblock" placeholder="IP Block" 
      matTooltip="The user-specified CIDR address block to be split into 
      smaller CIDR blocks. e.g. 192.168.0.0/24"> <br>
      <input type="text" ngModel name="count" placeholder="count" 
      matTooltip="The number of CIDRs to generate. Valid range is between 1 and 256."> <br>
      <input type="text" ngModel name="cidrbits" placeholder="CidrBits" 
      matTooltip="The number of subnet bits for the CIDR. For example, specifying a value '8' 
      for this parameter will create a CIDR with a mask of '/24'. Enter a number e.g. 24" >
    </div>

    <div *ngIf="funcname.value=='Fn::FindInMap'">
      <input type="text" ngModel name="maps" placeholder="Mapping element" 
      matTooltip="list of maps from Mappings element" > <br>
      <input type="text" ngModel name="topkey" placeholder="TopLevelKey"
      matTooltip="The top-level key name. Its value is a list of key-value pairs."> <br>
      <input type="text" ngModel name="secondkey" placeholder="SecondLevelkey"
      matTooltitp="The second-level key name, which is set to one of the keys 
      from the list assigned to TopLevelKey." >
    </div>

    <div *ngIf="funcname.value=='Fn::GetAtt'">
      <input type="text" ngModel name="resname" placeholder="Resource"  #resname >
      <input *ngIf="resname.value!=''"  ngModel type="text" name="propname" 
      placeholder="Property Name">
    </div>
   
    <div *ngIf="funcname.value=='Fn::GetAZs'">
      <input type="text" ngModel name="zone" placeholder="Zonename or Function" >
    </div>
    
    <div *ngIf="funcname.value=='Fn::ImportValue'">
      <input type="text" ngModel name="importval" placeholder="ImportValue" 
      [matTooltip]="fnimportvalueTip" >
    </div>
    
    <div *ngIf="funcname.value=='Fn::Join'">
      <input type="text" ngModel name="delim" placeholder="Delimiter" matTooltip="
      Enter delimiter." #delim>
      <mat-icon [matTooltip]="fnjoinTip" >info</mat-icon> <br>
      <button mat-raised-button color="primary" type="button" (click)="addFnjoinElement()">Add Element</button><br>
      <div *ngFor="let i of fnjoinArray">
        <input type="text" name="element{{i}}" ngModel >
      </div>
    </div>

    <div *ngIf="funcname.value=='Fn::Select'">
      <input type="text" ngModel name="index" placeholder="Index">
      <mat-icon [matTooltip]="fnselectTip" >info</mat-icon> <br>
      <button mat-raised-button color="primary" type="button" (click)="addFnselectElement()">Add Element</button><br>
      <div *ngFor="let i of fnselectArray">
        <input type="text" name="element{{i}}" ngModel >
      </div>
    </div>

    <div *ngIf="funcname.value=='Fn::Split'">
      <input type="text" ngModel name="split" placeholder="Split By"><br>
      <mat-icon [matTooltip]="fnsplitTip">info</mat-icon>
      <input type="text" ngModel name="splitvalue" placeholder="Value"><br>
    </div>

    <div *ngIf="funcname.value=='Fn::Sub'">
        <input type="text" ngModel name="sub" placeholder="Substitute"><br>
        <input type="text" ngModel name="subvalue" placeholder="Subvalue">
    </div>

    <div *ngIf="funcname.value=='Fn::And'" >
      <button mat-raised-button color="primary" type="button" (click)="addFnAndElement()">Add Element</button><br>
      <div *ngFor="let i of fnandArray">
        <input type="text" name="element{{i}}" ngModel >
      </div>
    </div>

    <div *ngIf="funcname.value=='Fn::Equals'" >
      <input type="text" name="equal1" ngModel placeholder="value 1" >
      <input type="text" name="equal2" ngModel placeholder="value 2" >
    </div>

    <div *ngIf="funcname.value=='Fn::If'" >
      <input type="text" name="ifcon" ngModel placeholder="Condition"> <br>
      <input type="text" name="iftrue" ngModel placeholder="Value if true">
      <input type="text" name="iffalse" ngModel placeholder="Value if false">
    </div>

    <div *ngIf="funcname.value=='Fn::Not'" >
      <input type="text" name="fnnot" ngModel placeholder="Condition" >
    </div>

    <div *ngIf="funcname.value=='Fn::Or'" >
      <input type="text" name="fnor" ngModel placeholder="Condition">
    </div>
    <button mat-stroked-button color="primary" type="submit">Generate</button>
    <button mat-stroked-button  type="button" color="warn" (click)="funcname.value=''; funcobj={}; onReset()" >Reset</button>

</form>

<pre id="funcOutput" >
  {{funcobj|json}}
</pre>
<button mat-icon-button (click)="copyToClipboard()"> <mat-icon>file_copy</mat-icon> </button>
</mat-card>
<mat-divider></mat-divider>
