<div *ngIf="isPresent" >

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{serviceSyntax}} </mat-panel-title>
        <mat-panel-description> {{resname.value}} </mat-panel-description>
      </mat-expansion-panel-header>


      <form #myForm="ngForm" (submit)="onDone(myForm.value)" >
        <mat-form-field>
            <input matInput #resname name="resourceName" placeholder="Resource Name" value="SampleName" ngModel required>
        </mat-form-field>
        <mat-icon [ngStyle]="{'color':reqColor}" >info</mat-icon> <br>
        <span> <br> <u>Properties: </u> <br> </span>
        <div *ngFor="let j of resPropkeys" >
           <span *ngIf="j=='CreationPolicy' || j=='UpdatePolicy'" > <br> <u> Specific Attributes: </u> <br> </span>
           <span *ngIf="j=='DeletionPolicy'" > <br> <u>Common Attributes:</u> <br> </span> <br>
          <mat-form-field *ngIf="getTypeOf(resObject.Properties[j])=='string'" >
              <input matInput ngModel type="text" [name]="j" [placeholder]="j" [required]="isRequired(resObject.Properties[j])['required']" >
          </mat-form-field>
          <mat-form-field *ngIf="isArray(resObject.Properties[j])" >
              <input matInput ngModel  type="text"  [name]="j" [placeholder]="j" [required]="isRequired(resObject.Properties[j])['required']" >
              <mat-hint> {{arrayTip}} </mat-hint>
          </mat-form-field>
          <mat-form-field *ngIf="!isArray(resObject.Properties[j]) && getTypeOf(resObject.Properties[j])=='object'" >
              <input matInput ngModel  type="text"  [name]="j" [placeholder]="j" [required]="isRequired(resObject.Properties[j])['required']" >
              <mat-hint>{{objectTip}} </mat-hint>
          </mat-form-field>
          <mat-icon  *ngIf="getTypeOf(resObject.Properties[j])=='string'" 
          [matTooltip]="resObject.Properties[j]" [ngStyle]="{'color':isRequired(resObject.Properties[j])['color']}">info</mat-icon>
          <mat-icon *ngIf="isArray(resObject.Properties[j])" 
          [matTooltip]="resObject.Properties[j][0]" [ngStyle]="{'color':isRequired(resObject.Properties[j])['color']}" >info</mat-icon>
          <mat-icon *ngIf="!isArray(resObject.Properties[j]) && getTypeOf(resObject.Properties[j])=='object'" 
          [matTooltip]="resObject.Properties[j]['info']" [ngStyle]="{'color':isRequired(resObject.Properties[j])['color']}">info</mat-icon>
          <button mat-icon-button type="button"  *ngIf="isPropertyComplex(resObject.Properties[j])" (click)="populateProperty(serviceSyntax)" >
            <mat-icon>create</mat-icon>
          </button>

        </div>
          <div *ngIf="isTagged" >
            Tags:
            <button type="button" mat-raised-button (click)="addTag()">
              <mat-icon>add</mat-icon>
            </button><br>
            <div *ngFor="let i of tagArray" >
                <input name="tagKey{{i}}" placeholder="Key" ngModel>
                <input name="tagValue{{i}}" placeholder="Value" ngModel>
          </div>
        </div>

        <button mat-icon-button [disabled]="myForm.invalid" type="submit" 
         matTooltip="click Submit or press Enter" color="primary">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button type="button" matTooltip="Remove from Template"  (click)="onRemove(myForm.value)">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <button [disabled]="!isCopyReady" mat-icon-button 
        matTooltip="copy the json output of the resource" (click)="copyToClipboard(myForm.value)"> <mat-icon>file_copy</mat-icon> </button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  </div>
  <mat-divider></mat-divider>