<div *ngIf="isPresent">
    <mat-card  class="example-card" >{{serviceSyntax}}
      <form #myForm="ngForm" (submit)="onDone(myForm.value)">
        <input name="resourceName" placeholder="Resource Name" ngModel required>
        <mat-icon color="warn" >info</mat-icon> <br>
        <div *ngFor="let j of resPropkeys">

          <input ngModel *ngIf="getTypeOf(resObject.Properties[j])=='string'" type="text" 
           [name]="j" [placeholder]="j">

           <input ngModel *ngIf="isArray(resObject.Properties[j])" type="text"  [name]="j" 
          [placeholder]="j" matTooltip="Expecting an Array. Array of Strings= comma separated 
          values. Array of Objects = in square brackets enter comma seperated objects.">

          <input ngModel *ngIf="!isArray(resObject.Properties[j]) && getTypeOf(resObject.Properties[j])=='object'" 
          type="text"  [name]="j" [placeholder]="j" matTooltip="Expecting an object">     

          <mat-icon  *ngIf="getTypeOf(resObject.Properties[j])=='string'" 
          [matTooltip]="resObject.Properties[j]" [color]="isRequired(resObject.Properties[j])" >info</mat-icon>
          <mat-icon *ngIf="isArray(resObject.Properties[j])" 
          [matTooltip]="resObject.Properties[j][0]" [color]="isRequired(resObject.Properties[j])" >info</mat-icon>
          <mat-icon *ngIf="!isArray(resObject.Properties[j]) && getTypeOf(resObject.Properties[j])=='object'" 
          [matTooltip]="resObject.Properties[j]['info']" [color]="isRequired(resObject.Properties[j])" >info</mat-icon>

        </div>
          <div *ngIf="isTagged" >
            Tags:
            <button type="button" mat-raised-button (click)="addTag()">Add Tag</button><br>
            <div *ngFor="let i of tagArray" >
                <input name="tagKey{{i}}" placeholder="Key" ngModel>
                <input name="tagValue{{i}}" placeholder="Value" ngModel>
          </div>
        </div>

        <button [disabled]="myForm.invalid" mat-stroked-button type="submit" color="primary" >Done</button>
        <button mat-raised-button type="button" color="warn" (click)="onRemove(myForm.value)">Remove</button>
        <button [disabled]="!isCopyReady" mat-icon-button (click)="copyToClipboard(myForm.value)"> <mat-icon>file_copy</mat-icon> </button>
      </form>
    </mat-card>
  </div>
  <mat-divider></mat-divider>