<div *ngIf="isPresent">
    <mat-card  class="example-card" >{{serviceSyntax}}
      <form #myForm="ngForm" (submit)="onDone(myForm.value)">
        <input name="resourceName" placeholder="Resource Name" ngModel required>
        <mat-icon color="warn" >info</mat-icon> <br>
        <div *ngFor="let j of curRes.resPropkeys">

          <input ngModel *ngIf="getTypeOf(curRes.resObj.Properties[j])=='string'" type="text" 
           [name]="j" [placeholder]="j">

           <input ngModel *ngIf="isArray(curRes.resObj.Properties[j])" type="text"  [name]="j" 
          [placeholder]="j" matTooltip="Expecting an Array. Array of Strings= comma separated 
          values. Array of Objects = in square brackets enter comma seperated objects.">

          <input ngModel *ngIf="!isArray(curRes.resObj.Properties[j]) && getTypeOf(curRes.resObj.Properties[j])=='object'" 
          type="text"  [name]="j" [placeholder]="j" matTooltip="Expecting an object">     

          <mat-icon  *ngIf="getTypeOf(curRes.resObj.Properties[j])=='string'" 
          [matTooltip]="curRes.resObj.Properties[j]" [color]="isRequired(curRes.resObj.Properties[j])" >info</mat-icon>
          <mat-icon *ngIf="isArray(curRes.resObj.Properties[j])" 
          [matTooltip]="curRes.resObj.Properties[j][0]" [color]="isRequired(curRes.resObj.Properties[j])" >info</mat-icon>
          <mat-icon *ngIf="!isArray(curRes.resObj.Properties[j]) && getTypeOf(curRes.resObj.Properties[j])=='object'" 
          [matTooltip]="curRes.resObj.Properties[j]['info']" [color]="isRequired(curRes.resObj.Properties[j])" >info</mat-icon>

        </div>

        <button [disabled]="myForm.invalid" mat-stroked-button type="submit" color="primary" >Done</button>
        <button mat-raised-button type="button" color="warn" (click)="onRemove(myForm.value)">Remove</button>
      </form>
    </mat-card>
  </div>
  <mat-divider></mat-divider>